<p>
  <b>{{parentField}}</b>
</p>
<p>
  <button mat-raised-button color="primary" (mouseenter)="mouseEnterEventHandler()"
          (mouseleave)="mouseLeaveEventHandler()"
          (click)="buttonClickEventHandler()">
    Parent Button
  </button>
</p>
<p>
  <button mat-raised-button color="accent" [disabled]=isButtonDisabled
          (click)="secondButtonClickEventHandler()">
    ParentButtonAddDataForChild
  </button>
</p>
<p>
  <app-child [isButtonDisabled]=parentBooleanFiendToChild
             (childBooleanEventEmitter)="childBooleanEventHandler($event)">
  </app-child>
</p>
