<p>main-grid works!</p>


<mat-grid-list [cols]="10" gutterSize="2px" [rowHeight]="50">
<mat-grid-tile [colspan]="2" [rowspan]="1" [color] = "gridColor" appColorGrid style="background-color: red"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: yellow"></mat-grid-tile>
<mat-grid-tile [colspan]="6" [rowspan]="1" style="background-color: green"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="2" style="background-color: blue"></mat-grid-tile>
<mat-grid-tile [colspan]="5" [rowspan]="2" style="background-color: cadetblue"></mat-grid-tile>
<mat-grid-tile [colspan]="3" [rowspan]="2" style="background-color: black"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: navy"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: olive"></mat-grid-tile>
<mat-grid-tile [colspan]="6" [rowspan]="1" style="background-color: rosybrown"></mat-grid-tile>


</mat-grid-list>
