<p>main-grid works!</p>


<mat-grid-list [cols]="10" gutterSize="2px" [rowHeight]="50">
<mat-grid-tile [colspan]="2" [rowspan]="1" appColorGrid [colorOfGrid]= "'red'"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" appColorGrid [colorOfGrid]= "'yellow'"></mat-grid-tile>
<mat-grid-tile [colspan]="6" [rowspan]="1" appColorGrid [colorOfGrid]= "'green'"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="2" appColorGrid [colorOfGrid]= "'blue'"></mat-grid-tile>
<mat-grid-tile [colspan]="5" [rowspan]="2" appColorGrid [colorOfGrid]= "'cadetblue'"></mat-grid-tile>
<mat-grid-tile [colspan]="3" [rowspan]="2" appColorGrid [colorOfGrid]= "'black'"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" appColorGrid [colorOfGrid]= "'navy'"></mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="1" appColorGrid [colorOfGrid]= "'olive'"></mat-grid-tile>
<mat-grid-tile [colspan]="6" [rowspan]="1" appColorGrid [colorOfGrid]= "'rosybrown'"></mat-grid-tile>


</mat-grid-list>
