<p>Cars from salon-first</p>

<table border="1">
  <thead>
  <tr>
    <th>carId</th>
    <th>carModel</th>
    <th>carPrice</th>
    <th>carColour</th>
<!--    <th>Choose Salon</th>-->
  </tr>
  </thead>
  <tbody>

<!--  <tr *ngFor="let car of cars">-->
<!--    <td>{{car.carId}}</td>-->
<!--    <td>{{car.carModel}}</td>-->
<!--    <td>{{car.carPrice}}</td>-->
<!--    <td>{{car.carColour}}</td>-->
<!--    <td>-->
<!--      <button style="margin:10px;">add to First</button>-->
<!--      <button style="margin:10px;">add to Second</button>-->
<!--    </td>-->
<!--  </tr>-->
  </tbody>
</table>
