<table border=2>
  <tr *ngFor="let car of (service.cars$ | async)">
    <td>{{car.id}}</td>
    <td>{{car.model}}</td>
    <td>{{car.price}}</td>
    <td>{{car.colour}}</td>
    <button
      *ngFor="let shop of (service.shops$ | async)"
      mat-raised-button
      color="primary" 
      (click)="service.addCarToShop(car, shop)">
      {{shop.address}}
    </button>
  </tr>
</table>
<br>
<table border=2>
  <tr *ngFor="let shop of (service.shops$ | async)">
    <td>{{shop.address}}</td>
    <button
      *ngFor="let car of shop.cars;"
      mat-raised-button
      color="primary" 
      (click)="service.removeCarFromShop(car, shop)">
      {{car.model}}
    </button>
  </tr>
</table>
