<p>general works!</p>

<table border="1">
  <thead>
  <tr>
    <th>carId</th>
    <th>carModel</th>
    <th>carPrice</th>
    <th>carColour</th>
    <th>Choose Salon</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let car of cars">
    <td>{{car.carId}}</td>
    <td>{{car.carModel}}</td>
    <td>{{car.carPrice}}</td>
    <td>{{car.carColour}}</td>
    <td>
      <button style="margin:10px;">add to First</button>
      <button style="margin:10px;">add to Second</button>
    </td>
  </tr>
  </tbody>
</table>

<p>For information</p>

<table border="1">
  <thead>
  <tr>
    <th>salonId</th>
    <th>salonAddress</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let salon of salons">
    <td>{{salon.salonId}}</td>
    <td>{{salon.salonAddress}}</td>
  </tr>
  </tbody>
</table>
<br>

<div style="display: inline-block; margin:10px;">
<app-salon-first></app-salon-first>
</div>
<div style="display: inline-block; margin:10px;">
<app-salon-second></app-salon-second>
</div>
