<p>general works!</p>

<div *ngIf="cars.length==0">
  <br>
  I am a cool angular developer.
</div>

<div *ngIf="cars.length>0">
<table border="1">
  <thead>
  <tr>
    <th>carId</th>
    <th>carModel</th>
    <th>carPrice</th>
    <th>carColor</th>
    <th>Choose Salon</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let car of cars; index as i" [carColor] = "car.carColor" appAutosale>
    <td>{{car.carId}}</td>
    <td>{{car.carModel}}</td>
    <td>{{car.carPrice}}</td>
    <td>{{car.carColor}}</td>
    <td>
      <button style="margin:10px;" (click)="addCarToSalon(car, 1, i); service.sumPrice(1)">add to First</button>
      <button style="margin:10px;" (click)="addCarToSalon(car, 2, i);  service.sumPrice(2)">add to Second</button>
    </td>
  </tr>
  </tbody>
</table>

<div style="display: inline-block; margin:10px;">
<app-salon-first></app-salon-first>
</div>
  <div *ngIf="service.commonPrice1 != null">
    Common price Salon1: {{service.commonPrice1}}
  </div>
<div style="display: inline-block; margin:10px;">
<app-salon-second></app-salon-second>
</div>
  <div *ngIf="service.commonPrice2 != null">
    Common price Salon2: {{service.commonPrice2}}
  </div>
</div>
